@use "./base.scss";

// 🌚 DARK MODE CUSTOM STYLES
:root[saved-theme="dark"], html[saved-theme="dark"] {
  body {
    font-family: 'Montserrat', sans-serif !important;
  }

  a.internal:hover {
    transform: scale(1.03);
    transition: all 0.2s ease;
  }

  a.internal {
    color: #f3e8ff;
    background-color: rgba(255, 145, 145, 0.246);
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Arima', cursive !important;
  }

  h1 { color: #D44C47; }
  h2 { color: #D9730D; }
  h3 { color: #cb912f; }
  h4 { color: #58948a; }
  h5 { color: #337ea9; }
  h6 { color: #9065b0; }
}
