@use "./base.scss";

// put your custom CSS here!
@media (prefers-color-scheme: dark) {
  h1 { color: rgb(255, 145, 145); }
  h2 { color: rgb(255, 165, 180); }
  h3 { color: rgb(255, 185, 205); }
  h4 { color: rgb(210, 175, 255); }
  h5 { color: rgb(180, 195, 255); }
  h6 { color: rgb(160, 200, 255); }

  a.internal {
    color: #f3e8ff;
    background-color: rgba(255, 145, 145, 0.25);
  }
}